@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo-Bold.ttf) format('truetype');
    font-weight: bold;
}

.lg-text {
    font-family: 'Heebo', sans-serif;
    font-size:80px;
    font-weight: bold;
    color:#fff;
}

.md-text {
    font-family: 'Heebo', sans-serif;
    font-size:25px;
    font-weight: normal;
    color:#fff;
}

html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

body {
    min-height: 100%;
}

button:hover {
    cursor: pointer;
}

.right {
    float: right;
}

#header {
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    width:100%;
    height:50px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    transition: all 0.2s ease-in-out;
}

#header span {
    display: inline-block;
    width:154px;
    height:20px;
    background: url(../image/image_logo_white.png);
}

#header > div {
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    width:1080px;
    height:100%;
}

#header > div > a {
    display: inline-block;
    margin: 15px 0 0;
}

#header .menu-items a {
    margin:0 20px;
    font-size:15px;
    color:#fff;
    line-height: 50px;
}

#header.inverted {
    background:#fff;
    border:0;
}

#header.inverted span {
    background-image:url(../image/image_logo_color.png);
}

#header.inverted .menu-items a {
    color:#000;
}

#body {
    width:100%;
    height: 100%;
    min-height: 1000px;
    background: url(../image/bg_main.png) no-repeat 50% / cover;
}

#title-text {
    padding:250px 0 0;
    text-align: center;;
}

#title-sub-text {
    margin:20px auto;
    text-align: center;
}

#search-panel {
    margin:110px auto 0;
    padding:50px 70px 55px;
    left:0;
    right:0;
    width:1080px;
    background:#fff;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.panel-block {
    display: inline-block;
    margin:0 17px 0 0;
}

.panel-block:last-of-type {
    vertical-align: bottom;
}

#search-panel label {
    display:block;
    margin:0 0 10px;
    font-size: 18px;
    color:#000;
}

#search-panel input[type="text"] {
    padding: 12px;
    width:330px;
    height:55px;
    font-size:19px;
    box-sizing: border-box;
}

#search-panel .btn-search {
    width:210px;
    height:55px;
    font-size:18px;
    color:#fff;
    background: #4299e1;
    border:0;
}

#search-panel .btn-search img {
    vertical-align: middle;
}

#ui-datepicker-div {
    width:321px;
}

#list-bg {
    display:none;
    position: absolute;
    top:880px;
    background:#fff;
    width:100%;
    height: 100%;
}

#list-panel {
    position: relative;
    top:95px;
    left:0;
    right:0;
    margin:0 auto 100px;
    width:1080px;
}

#list-item-template {
    display:none;
}

.list-item {
    display:inline-block;
    position: relative;
    margin:0 24px 22px 0;
    width:344px;
}

.list-item:hover {
    cursor:pointer;
}

.list-item:nth-of-type(3n){
    margin-right:0;
}

.list-item-image {
    display: block;
    width:344px;
    height:210px;
}

.list-item-desc {
    border:1px solid #eee;
    border-top:0;
}

.list-item-name {
    padding:13px 0 0 13px;
    height:24px;
    font-size:17px;
    font-weight: bold;
}

.list-item-city {
    padding:0 0 8px 13px;
    height:20px;
    line-height: 16px;
}

.list-item-city img {
    display:inline-block;
    vertical-align: middle;
}

.list-item-city-name {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}